body {
    margin: 0;
    padding: 0;
    color: violet;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top left, rgb(56, 56, 178), rgb(149, 35, 149));
    color: violet;
}

.head1 {
    gap: 35px;
    display: flex;
    justify-content: center;
    color: violet;
}

.h {
    display: flex;
    flex-direction: column;
}

.l {
    display: flex;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;

}

.l:hover {
    border-radius: 30px;
    background-color: rgb(175, 134, 175);
}

.head {

    margin: 30px;
    display: flex;
    justify-content: space-between;

}



.p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    font-size: 30px;
}

.p1 {
    display: flex;
    justify-content: center;
}

a {
    color: black;
    text-decoration: none;
}


.a {
    width: 150px;
    border: 1px solid violet;
    padding: 9px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.lien :hover {
    background-color: rgb(175, 134, 175);
}

.lien {
    margin: 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    gap: 30px;
}


@media (max-width: 768px) {
    .hero {
        height: auto;
    }
    .head1 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        height: auto;
    }

    .lien {
        align-items: center;
        flex-direction: column;
        gap: 15px;
        height: auto;
    }

   

}

.hero2 {

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top left, rgb(56, 56, 178), rgb(149, 35, 149));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ti {
    margin-top: 0;
    font-size: 48px;
    display: flex;
    justify-content: center;
}

.vl {
    width: 1px;
    background-color: violet;
    height: 70vh;
}

.formation {
    display: flex;
    justify-content: center;
    gap: 100px;
    height: 70vh;


}

.formation :hover {
    background-color: rgb(175, 134, 175);
}

.f1 {
    width: 250px;
    border: 1px solid violet;
    border-radius: 30px;
    padding: 10px;
    align-self: start;

}

.f2 {
    width: 250px;
    border: 1px solid violet;
    border-radius: 30px;
    padding: 10px;
    align-self: end;

}

.c {
    align-content: center;
}

@media (max-width: 768px) {
    .hero2 {
        height: auto;

    }

    .formation {
        flex-direction: column;
        gap: 15px;
        margin: 5px;
    }

    .vl {
        width: 0px;
    }

}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top left, rgb(56, 56, 178), rgb(149, 35, 149));

}

.pre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 200px;
}

.vl1 {
    width: 5px;
    background-color: violet;
    height: 20vh;
}

.pre1 {
    display: flex;
    justify-content: space-around;
    gap: 10px;

}

.ti4 {
    font-size: 30px;
}

.ti3 {
    font-size: 70px;
}

.ti2 {
    font-size: 30px;
}

.pre2 {
    width: 150px;
    border: 1px solid violet;
    padding: 9px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: black;
}

.pre2:hover {
    background-color: rgb(175, 134, 175);
}

@media (max-width: 768px) {
    .page {
        height: auto;
    }
     .vl1 {
        width: 0px;
    }

    .pre1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

   

}