body {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top left, rgb(129, 129, 204), rgb(227, 130, 227));
}

.head1 {
    padding: 20px;
    ;
    margin: 30px;
    border: 1px solid black;
    border-radius: 30px;
    height: 25px;
    gap: 35px;
    display: flex;
    justify-content: space-around;


}

.l {
    display: flex;
    justify-content: center;
    padding: 5px;
    cursor: pointer;

}

.l:hover {
    border-radius: 30px;
    background-color: rgb(175, 134, 175);
}

.head {

    margin: 30px;
    display: flex;
    justify-content: space-between;

}

.h {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.ha1 {
    padding: 0px;
    ;
    font-size: 48px;
}

.p {
    text-align: center;
    width: 60%;
}

a {
    color: black;
    text-decoration: none;
}


.a {
    width: 150px;
    border: 1px solid black;
    padding: 9px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.lien :hover {
    background-color: rgb(175, 134, 175);
}

.lien {
    margin: 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    gap: 30px;
}


@media (max-width: 768px) {
    .hero {
        height: auto;
    }

    .head,
    .head1 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        height: auto;
    }

    .lien {
        flex-direction: column;
        gap: 15px;
        height: auto;
    }

    .ha1 {
        text-align: center;
    }

}

.hero2 {

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top left, rgb(129, 129, 204), rgb(227, 130, 227));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ti {
    margin-top: 0;
    font-size: 48px;
    display: flex;
    justify-content: center;
}

.vl {
    width: 1px;
    background-color: black;
    height: 70vh;
}

.formation {
    display: flex;
    justify-content: center;
    gap: 100px;
    height: 70vh;

}

.f1 {
    width: 250px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    align-self: start;

}

.f2 {
    width: 250px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    align-self: end;

}

.c {
    align-content: center;
}
@media (max-width: 768px) {
    .hero2{
        height: auto;

    }  
    .formation{
        flex-direction: column;
        gap: 15px;
        margin: 5px;
    }
    .vl{
        width: 0px;
    }
    
}

.hero3 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top left, rgb(129, 129, 204), rgb(227, 130, 227));

}

.pre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50vh;
}

.ti2 {
    margin-top: 0;
    font-size: 50px;


}

.ti3 {
    margin: 100px;
    font-size: 70px;

}

.ti4 {
    font-size: 70px;

}